<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Snack Inventory</h1>
    <form action="/add-snack-item" method="POST">

        <label for="baked_chips_quantity">Bake Chips Quantity:</label>
        <input type="number" id="baked_chips_quantity" name="baked_chips_quantity" min="0" required><br><br>

        <label for="kirkland_snacking_nuts_quantity">KirkLand Snacking Nuts Quantity:</label>
        <input type="number" id="kirkland_snacking_nuts_quantity" name="kirkland_snacking_nuts_quantity" min="0" required><br><br>

        <label for="kirkland_trail_mix_quantity">KirkLand Trail Mix Quantity:</label>
        <input type="number" id="kirkland_trail_mix_quantity" name="kirkland_trail_mix_quantity" min="0" required><br><br>

        <label for="popcorn_quantity">Popcorn Quantity:</label>
        <input type="number" id="popcorn_quantity" name="popcorn_quantity" min="0" required><br><br>

        <label for="kirkland_nut_bars_quantity">Kirkland Nut Bars Quantity:</label>
        <input type="number" id="kirkland_nut_bars_quantity" name="kirkland_nut_bars_quantity" min="0" required><br><br>

        <label for="fruit_strips_variety_pack_quantity">Fruit Strips Variety Pack Quantity:</label>
        <input type="number" id="fruit_strips_variety_pack_quantity" name="fruit_strips_variety_pack_quantity" min="0" required><br><br>

        <label for="cheez_it_snapped_quantity">Cheez it Snap'd Quantity:</label>
        <input type="number" id="cheez_it_snapped_quantity" name="cheez_it_snapped_quantity" min="0" required><br><br>

        <label for="skinny_pop_quantity">Skinny Pop Quantity:</label>
        <input type="number" id="skinny_pop_quantity" name="skinny_pop_quantity" min="0" required><br><br>

        <label for="nature_valley_protein_bars_quantity">Nature Valley Protein Bars Quantity:</label>
        <input type="number" id="nature_valley_protein_bars_quantity" name="nature_valley_protein_bars_quantity" min="0" required><br><br>

        <label for="sun_chips_quantity">Sun Chips Quantity:</label>
        <input type="number" id="sun_chips_quantity" name="sun_chips_quantity" min="0" required><br><br>

        <label for="cheez_it_quantity">Cheez it Quantity:</label>
        <input type="number" id="cheez_it_quantity" name="cheez_it_quantity" min="0" required><br><br>

        <label for="pretzels_quantity">Pretzels Quantity:</label>
        <input type="number" id="pretzels_quantity" name="pretzels_quantity" min="0" required><br><br>


        <input type="submit" value="Add Items">
    </form>

    <h2>Inventory List</h2>
    <ul>
        {% for item in items %}
            <li class="inventory-item">
                <span>Date: {{ item['date'] }} | Snack: {{ item['snack'] }}</span>
                <form action="{{ url_for('delete_snack_item', item_id=item['id']) }}" method="POST" class="delete-form">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('directory') }}">Back to Directory</a>
</body>
</html>
